{% extends "base.html" %}

{% block content %}

<h2>Add New Bill</h2>

<div class="form-container">
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}

        <img id="preview" src="#" alt="Image Preview" style="display:none; width:200px; margin-top:10px;" />
        <button type="submit" class="btn-primary">Save Bill</button>
    </form>
</div>





<script>
const input = document.getElementById("id_bill_image");
const preview = document.getElementById("preview");

input.addEventListener("change", function() {
    const file = this.files[0];
    if (file) {
        preview.src = URL.createObjectURL(file);
        preview.style.display = "block";
    }
});
</script>

{% endblock %}
