{% extends "base.html" %}

{% block content %}

<h2>My Bills</h2>


<div class="bill-grid">
    {% for bill in bills %}
        <div class="bill-card">
            <h3>{{ bill.product_name }}</h3>

            <p><b>Purchase:</b> {{ bill.purchase_date }}</p>
            <p><b>Expiry:</b> {{ bill.expiry_date }}</p>

            <div class="bill-actions">

                {% if bill.bill_image %}
                <img src="{{ user.profile.image.url }}" alt="profile">
                    <a href="{{ bill.bill_image.url }}" target="_blank" 
                       class="btn btn-info btn-sm me-2">
                        View Bill
                    </a>
                {% endif %}

                <a href="{% url 'extend_warranty' bill.id %}" 
                   class="btn btn-warning btn-sm me-2">
                    Extend
                </a>

                <a href="{% url 'delete_bill' bill.id %}" 
                   class="btn btn-danger btn-sm">
                    Delete
                </a>

            </div>

        </div>
    {% empty %}
        <p>No bills added yet.</p>
    {% endfor %}
</div>

{% endblock %}
