{% extends 'base.html' %}

{% block content %}

<style>
.auth-container {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.auth-box {
    width: 400px;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
    background: white;
}

.auth-box h2 {
    text-align: center;
    margin-bottom: 25px;
}

.auth-box input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

.auth-box button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    border: none;
    color: white;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
}

.auth-box button:hover {
    background-color: #0056b3;
}
</style>

<div class="auth-container">
    <div class="auth-box">
        <h2>Login</h2>

        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Login</button>
        </form>

        <p style="text-align:center; margin-top:15px;">
            Don’t have an account?
            <a href="{% url 'register' %}">Register</a>
        </p>
    </div>
</div>

{% endblock %}